* {
    font-family: "Public Sans";
}
body {
    width: 80%;
    margin: auto;
}

.popup .leaflet-popup-content-wrapper, .popup .leaflet-popup-tip {
    background-color: white;
    color: black;
    width: fit-content;
}

.leaflet-popup-content {
    width: fit-content;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#map {
    border: 1px solid black;
    height: 80vh;
    width: 80%;
    margin: auto
}

.chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-template-rows: auto auto; /* Two rows of auto height */
    gap: 10px; /* Gap between grid items */
}

.chart-container h2 {
    grid-row: 1; /* Place first element in the first row */
    grid-column: 1 / span 2; /* Span both columns */
    justify-self: center; /* Center horizontally */
}


.popup {
    min-width: 300px;
    
}




.slider-value {

  text-align: center;
  font-weight: bold;
}