* {
    font-family: "Public Sans";
}
body {
    width: 80%;
    margin: auto;
}

#year-selector {
    display: flex;
}

h3 {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#map {
    border: 1px solid black;
    height: 80vh;
    width: 80%;
    margin: auto;
    margin-top: 1vh;
    z-index: 300;
}

#reset-button {
    position: relative;
    top: 1em;
    left: 1em;
    padding: 10px;
    z-index: 400;
    background: white;
    border: 0;
    border-radius: 0.2em;
    box-shadow: 0px 1px 5px #80808047;
    cursor: pointer 
}

#reset-button:active {
    background: rgb(204, 204, 204);
}

#year-select-value {
  text-align: center;
  font-weight: bold;
}


.donut-chart-wrapper {
    max-width: 300px;
    max-height: 300px;
}